<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>272531159489-qf3u117cila0o86euh4en9nbdvpcpij8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272531159489-qf3u117cila0o86euh4en9nbdvpcpij8</string>
	<key>API_KEY</key>
	<string>AIzaSyCw5eyBgZVdjbnBjRg_izsTgOIJ0gfTjTw</string>
	<key>GCM_SENDER_ID</key>
	<string>272531159489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.3Dtalk</string>
	<key>PROJECT_ID</key>
	<string>no-more-talk-3d-46cae</string>
	<key>STORAGE_BUCKET</key>
	<string>no-more-talk-3d-46cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:272531159489:ios:302d6229ffece365</string>
	<key>DATABASE_URL</key>
	<string>https://no-more-talk-3d-46cae.firebaseio.com</string>
</dict>
</plist>